# gradle

.gradle/
build/
out/

# eclipse

.classpath/
.metadata/
.project/
.settings/
*.launch
bin/
eclipse/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/